<div class="about-page">
  <div class="page-header">
    <h1>About</h1>
    
  </div>

  <div class="cards-grid">
    <div class="info-card">
      <div class="card-icon"></div>
      <h3>About the App</h3>
      <p>This is a simple album browser application built with Angular. It allows users to search and browse through a collection of albums.</p>
    </div>

    <div class="info-card">
      <div class="card-icon"></div>
      <h3>Course Info</h3>
      <p><strong>Course:</strong> Web Development<br>
         <strong>Lab:</strong> Lab 6 <br>
         <strong>Framework:</strong> Angular </p>
    </div>

    <div class="info-card">
      <div class="card-icon"></div>
      <h3>Developer</h3>
      <p><strong>Name:</strong> Akbota Bagdauletkyzy<br>
         <strong>Stack:</strong> Angular, TypeScript, C++, Python</p>
    </div>

    <div class="info-card">
      <div class="card-icon"></div>
      <h3>Features</h3>
      <p>You can search or browser pictures</p>
    </div>
  </div>
</div>
