*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background:#fff;
}
.wrapper {
  max-width:1200px;
  margin:80px auto;
  display:flex;
  gap: 80px;
  align-items:center;
}
.left {
  width: 55%;
}
.ig-logo {
  width:60px;
  margin-bottom: 0px;
}
.left h1 {
  font-size:44px;
  font-weight:400;
}
.left h1 span {
  background: linear-gradient(45deg, #ff7a00, #ff006a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.preview {
  margin-top:30px;
  width:550px;
}

.right {
  width:100%;
  height:100%;
  border:1px solid #dbdbdb;
  padding:50px;
  border-radius:12px;
  text-align:center;
}

.right h2 {
  margin-bottom:20px;
  font-size:18px;
}

.right input {
  width:100%;
  padding:14px;
  margin-bottom: 12px;
  border-radius: 10px;
  border:1px solid #dbdbdb;
}

.login {
  width:100%;
  padding:12px;
  background: #b2ccf7;
  border:none;
  border-radius: 0px;
  font-size:16px;
  color: white;
  margin-bottom:14px;
}

.forgot {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #00376b;
  text-decoration: none;
}

.fb {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #dbdbdb;
  background: white;
  margin-bottom: 12px;
}

.create {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #1877f2;
  background: white;
  color: #1877f2;
  font-weight: bold;
}

.meta {
  margin-top: 20px;
  color: gray;
  font-size: 14px;
}